USE [master]
GO
/****** Object:  Database [PROG210-Assignment3]    Script Date: 10/19/2022 3:04:29 PM ******/
CREATE DATABASE [PROG210-Assignment3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROG210-Assignment3', FILENAME = N'/var/opt/mssql/data/PROG210-Assignment3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROG210-Assignment3_log', FILENAME = N'/var/opt/mssql/data/PROG210-Assignment3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROG210-Assignment3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROG210-Assignment3]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/19/2022 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[commentID] [int] IDENTITY(1,1) NOT NULL,
	[threadID] [int] NULL,
	[txtContent] [varchar](25) NOT NULL,
	[txtComments] [varchar](255) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[upVotes] [int] NULL,
 CONSTRAINT [PK_Comments_1] PRIMARY KEY CLUSTERED 
(
	[commentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thread]    Script Date: 10/19/2022 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[threadID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](25) NOT NULL,
	[UserName] [varchar](25) NOT NULL,
	[Links] [varchar](25) NULL,
	[Description] [varchar](max) NULL,
	[DateCreated] [date] NOT NULL,
	[upVotes] [int] NULL,
 CONSTRAINT [PK_Thread] PRIMARY KEY CLUSTERED 
(
	[threadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2022 3:04:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Email] [varchar](25) NULL,
	[About] [varchar](max) NULL,
	[DateCreated] [date] NOT NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([commentID], [threadID], [txtContent], [txtComments], [DateCreated], [upVotes]) VALUES (1, 1, N'This is an amazing thread', N'I learned so much', CAST(N'2022-10-19' AS Date), 25)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Thread] ON 

INSERT [dbo].[Thread] ([threadID], [Title], [UserName], [Links], [Description], [DateCreated], [upVotes]) VALUES (1, N'Test Thread', N'testSubject', N'https://www.google.com', N'Check out this cool link', CAST(N'2022-10-19' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Thread] OFF
GO
INSERT [dbo].[Users] ([UserName], [Password], [Email], [About], [DateCreated]) VALUES (N'testSubject', N'Password123', N'test@gmail.co,', N'A person who is test.', CAST(N'2022-10-19' AS Date))
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Thread] FOREIGN KEY([threadID])
REFERENCES [dbo].[Thread] ([threadID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Thread]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_Thread_Users] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_Thread_Users]
GO
USE [master]
GO
