body{
    margin: 0;
    font-family: sans-serif;
    overflow: scroll;

}

/* Main container */
.container {
    margin: auto;
    margin-top: 5px;
    width: 50%;
    /* border: black 2px solid; */
    background-color: white;
    width: 85%;
    height: 100vh; 
}

/* Nav bar */
.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #ff6600;
}

.navcontainer nav {
    display: flex;

}
#homelink {
    font-weight: bold;
}
.navcontainer li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.navcontainer a {
    color: black;
    text-decoration: none;

}

.navcontainer a::before{
    color:white;
}

/* Thread container */
.threadcontainer {
    display: grid;
    background-color:rgb(250, 241, 226);
    width: 100%;
    height: 500px;
}

.threadbox {
    display: inline-flex;
    width: 100%;
    height: 50px;
    background-color:rgb(250, 241, 226);
}

/* left side of threadbox (index and upvote button) */
.threadbox .leftcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
}
.threadbox .leftcontent #index {
    color: rgb(107, 107, 107);
}
.threadbox .leftcontent #btnUpVote {
    color: rgb(107, 107, 107);
    height: 20px;
    width: 20px;
}

/* right side of threadbox (top and bottom) */
.threadbox .rightcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.threadbox .rightcontent .top{
    display: flex;
    align-items:flex-end;
    height: 25px;
}
.threadbox .rightcontent .bottom {
    display: flex;
    height: 25px;
    color: rgb(107, 107, 107);
    font-size: 14px;
}
.threadbox .rightcontent .top span {
    vertical-align: baseline;

}

* {
    /* border: 1px solid black; */
}
