body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
}
.container {
    border: black 2px solid;
    background-color: white;
    width: 90%;
    height: 100vh; 
}

.navcontainer {
    background-color: #ff6600;
}
.navcontainer li {
    display: inline;
    text-decoration: none;
    
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing:  4px;
    font-size: 24x;
    text-align: center;
    color: white;
}

